<div class="list-group list-group-flush h-100 overflow-auto">
    <a href="/" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-house-door ms-2"></i><span>Home</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-file-earmark ms-2"></i><span>Pavement</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-clipboard-data ms-2"></i><span>Work Order</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-person ms-2"></i><span>UAF</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-ui-checks ms-2"></i><span>Dashboards</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-lightbulb ms-2"></i><span>Business Intelligence</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-bar-chart ms-2"></i><span>Dashboards</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-file-earmark-text ms-2"></i><span>CMS</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3">
        <i class="bi bi-headset ms-2"></i><span>Geo provider</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action border-0 py-3 active bg-primary text-white">
        <i class="bi bi-gear ms-2"></i><span>System Setting</span>
    </a>
</div>
